{% extends 'base.html' %}
{% load static %}

{% block content %}

			
			<!-- 
			=============================================
				Theme Main Banner
			============================================== 


			-->
			<div class="latest-update">
				<div class="container">
					<div class="theme-title">
						<h2>United States<br>Information Agency.</h2>
						
					
						<a href="https://www.fcc.gov/news-events/events/2021/01/january-2021-open-commission-meeting">NEWS</a>
					</div> <!-- /.theme-title -->

					<div class="news-slider">
						<div class="item">
							<div class="single-update-post">
								<!--<div class="image-box"><img src="images/blog/16.jpg" alt=""></div>-->
								<div class="date">Uscourts</div>
								<h4><a href="https://www.uscourts.gov/">Uscourts.gov/</a></h4>
								<a href="{% url 'index' %}" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div> <!-- /.single-update-post -->
						</div> <!-- /.col- -->
						<div class="item">
							<div class="single-update-post">
								<!--<div class="image-box"><img src="images/blog/17.jpg" alt=""></div>-->
								<div class="date">Senate</div>
								<h4><a href="www.senate.gov">Senate.gov</a></h4>
								<a href="{% url 'index' %}" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div> <!-- /.single-update-post -->
						</div> <!-- /.col- -->
						<div class="item">
							<div class="single-update-post">
								<!--<div class="image-box"><img src="images/blog/18.jpg" alt=""></div>-->
								<div class="date">Congress</div>
								<h4><a href="https://www.congress.gov/">Congress.gov/</a></h4>
								<a href="{% url 'index' %}" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								
							</div> <!-- /.single-update-post -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.latest-update -->

			<div class="top-feature">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-4 col-12">
							<div class="single-feature clearfix">
								<img src="{% static 'assets/images/icon/1.png' %}"alt="" class="float-left tran3s">
								<div class="text float-left">
									<p>Future Education</p>
									<h4><a href="https://www.fema.gov" class="tran3s">Socity Camps</a></h4>
								</div> 
							</div> 
                        </div> 
						<!--<div class="col-lg-4 col-md-6 col-sm-4 col-12">
							<div class="single-feature clearfix">
								<img src="images/icon/2.png" alt="" class="float-left tran3s">
								<div class="text float-left">
									<p>We always Ready</p>
									<h4><a href="#" class="tran3s">***</a></h4>-->
								<!--</div> 
							</div> 
						</div> 
						<div class="col-lg-4 d-md-none d-lg-block col-sm-4 col-12">
							<div class="single-feature clearfix">
								<img src="images/icon/3.png" alt="" class="float-left tran3s">
								<div class="text float-left">
									<p>24 Hours </p>
									<h4><a href="#" class="tran3s">***</a></h4>-->
								</div> <!-- /.text -->
							</div> <!-- /.single-feature -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.top-feature -->


			<!-- 
			=============================================
				American Banner Information Data
			==============================================
            -->
			
			<div class="feature-banner bg-one">
				<div class="opacity overlay-one">
					<div class="container">
						<div class="theme-title text-center">
							<h2>We’re all USA <br>Information Agency.</h2>
						</div> 
						<div class="row">
							<div class="col-sm-4 col-12">
								<div class="single-box">
			        				<h2 class="number"><span class="timer" data-from="0" data-to="31807450" data-speed="12000" data-refresh-interval="5">0</span>+</h2>
			        				<p>Number of internet users<br>in the U.S</p>
			        			</div> 
							</div>  
							<div class="col-sm-4 col-12">
								<div class="single-box">
			        				<h2 class="number"><span class="timer" data-from="0" data-to="30078900" data-speed="12000" data-refresh-interval="5">0</span>+</h2>
			        				<p>Internet user penetration<br>in th U.S</p>
			        			</div> 
							</div>  
							<div class="col-sm-4 col-12">
								<div class="single-box">
			        				<h2 class="number"><span class="timer" data-from="0" data-to="274768090" data-speed="12000" data-refresh-interval="5">0</span>+</h2>
			        				<p>Number of Mobile Internet users<br>in the U.S</p>
			        			</div> 
							</div>  
						</div> 
					</div> 
				</div> 
			</div> 
			


			<!-- 
			=============================================
				About Home Section
			============================================== 
			-->
			<div class="home-about-section clearfix">
				<div class="float-left left-side"></div>
				<div class="float-left right-side">
					<div class="opacity clearfix">
						<div class="main-content float-left">
							<div class="theme-title">
								<h2>We’re American Department of Information .</h2>
							</div> 
							<p>"Nothing in life is more liberating than to fight for a cause larger than yourself, something that encompasses you but is not defined by your existence alone."</p>
							<div class="clearfix name">
								<div class="float-left">
									<h5>John McCain</h5>
									<p>Sen. John McCain, who served in the Senate since 1987,</br> died in August 2018</p>
								</div>
								<!--<img src="images/home/sign.png" alt="" class="float-right">-->
							</div>
							<a href="https://www.fema.gov/about/news-multimedia/events" class="theme-button">Events</a>
						</div> 
					</div> 
				</div> 
			</div> 


			<!-- 
			=============================================
				Our Service Two
			============================================== 
			-->
			<div class="our-service-two">
				<div class="container">
					<div class="theme-title text-center">
						<h2>Government Information Systems</h2>
						<p>We provide all Information to USA Government, finance & consulting services.</p>
					</div> 
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="single-service">
								<i class="fa fa-building-o" aria-hidden="true"></i>
								<h5><a href="https://www.usa.gov/agencies">Government Agencies and Elected Officials</a></h5>								</a></h5>
								<p>Find information for federal, state, and local government agencies and elected officials.</p>
							</div> <!-- /.single-service -->
						</div> 
						<div class="col-lg-4 col-sm-6">
							<div class="single-service">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
								<h5><a href="https://www.usa.gov/jobs-and-unemployment">Jobs and Unemployment</a></h5>
								<p>Find out how and where to look for a new job or career, get help if you are unemployed, and more.</p>
							</div> 
						</div> 
						<div class="col-lg-4 col-sm-6">
							<div class="single-service">
								<i class="fa fa-money" aria-hidden="true"></i>
								<h5><a href="https://www.usa.gov/benefits-grants-loans">Benefits, Grants, and Loans</a></h5>
								<p>Learn about government programs that provide financial help for individuals and organizations.</p>
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6">
							<div class="single-service">
								<i class="fa fa-bar-chart" aria-hidden="true"></i>
								<h5><a href="https://www.usa.gov/voting">Voting and Elections</a></h5>
								<p>Find answers to common questions about voting in the United States.</p>
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6">
							<div class="single-service">
								<i class="fa fa-user" aria-hidden="true"></i>
								<h5><a href="https://www.usa.gov/health">Health</a></h5>
								<p>Find health resources from the government.</p>
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6">
							<div class="single-service">
								<i class="fa fa-line-chart" aria-hidden="true"></i>
								<h5><a href="https://www.usa.gov/money">Money and Taxes</a></h5>
								<p>Learn about taxes, money the government may owe you, investing, credit help, and more.</p>
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.our-service-two -->


			<!-- 
			=============================================
				Feature Banner
			============================================== 
			-->
			<div class="feature-banner bg-one">
				<div class="opacity overlay-one">
					<div class="container">
						<div class="theme-title text-center">
							<h2>We’re all USA <br>Information Agency.</h2>
						</div> <!-- /.theme-title -->
						<div class="row">
							<div class="col-sm-4 col-12">
								<div class="single-box">
			        				<h2 class="number"><span class="timer" data-from="0" data-to="31807450" data-speed="12000" data-refresh-interval="5">0</span>+</h2>
			        				<p>Number of internet users<br>in the U.S</p>
			        			</div> <!-- /.single-box -->
							</div>  <!-- /.col- -->
							<div class="col-sm-4 col-12">
								<div class="single-box">
			        				<h2 class="number"><span class="timer" data-from="0" data-to="30078900" data-speed="12000" data-refresh-interval="5">0</span>+</h2>
			        				<p>Internet user penetration<br>in th U.S</p>
			        			</div> <!-- /.single-box -->
							</div>  <!-- /.col- -->
							<div class="col-sm-4 col-12">
								<div class="single-box">
			        				<h2 class="number"><span class="timer" data-from="0" data-to="274768090" data-speed="12000" data-refresh-interval="5">0</span>+</h2>
			        				<p>Number of Mobile Internet users<br>in the U.S</p>
			        			</div> <!-- /.single-box -->
							</div>  <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.feature-banner -->


			<!-- 
			=============================================
				Cyber Affair
			============================================== 
			-->
			<div class="our-portfolio portfolio-grid">
				<div class="container">
					<div class="theme-title text-center">
						<h2>Cyber Information</h2>
						<p>Internet Cyber Security .</p>
					</div> <!-- /.theme-title -->
	        		
					
					<div class="all-project-button"><a href="https://www.darpa.mil/">See All Projects</a></div>
				</div> <!-- /.container -->
			</div> <!-- /.our-portfolio -->


			<!--
			=====================================================
				Testimonial Slider
			=====================================================
		


			
			=====================================================
				Consultation Form
			=====================================================
			-->
			<div class="consultation-form">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-12">
							<div class="theme-title">
								<h2>REPORT CYBERCRIME </h2>
							</div> <!-- /.theme-title -->
							<p>If you have fallen victim to cybercrime, click on one of the form  to be redirected to the reporting website of your state. Reporting mechanisms vary from one state to another. In Member States which do not have a dedicated online option in place, you are advised to go to your local police station to lodge a complaint. </p>
							<div class="call-us"><b>Warning</b> (18 U.S.C. § 1001) || We know ! Tor Browser! VPN</div>
							
							<!--<a href="#" class="phone-call">+880 876 65 455</a>-->
						</div>
						<div class="col-lg-8 col-12">
							<div class="form-wrapper">
								<div class="theme-title">
									<h2>Minority Report</h2>
								</div> <!-- /.theme-title -->
								<form action="#">
									<div class="row">
										<div class="col-md-6 order-md-last">
											<textarea placeholder="Message*"></textarea>
										</div>
										<div class="col-md-6 order-md-first">
											<input type="text" placeholder="Username*">
											<input type="email" placeholder="Email*">
											<select class="form-control" id="exampleSelect1">
										      <option>Discussion Subject*</option>
										      <option>Business Services</option>
										      <option>Consumer Product</option>
										      <option>Financial Services</option>
										      <option>Software Research</option>
										    </select>
										    <button class="form-button">REPORT CYBERCRIME</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.consultation-form -->


			<!--
			=====================================================
				Latest Update
			=====================================================
			-->
			<div class="latest-update">
				<div class="container">
					<div class="theme-title">
						<h2>* <br>USA Department of Information.</h2>
						<a href="https://www.fcc.gov/news-events/events/2021/01/january-2021-open-commission-meeting">GO TO NEWS</a>
					</div> <!-- /.theme-title -->

					<div class="news-slider">
						<div class="item">
							<div class="single-update-post">
								<!--<div class="image-box"><img src="images/blog/16.jpg" alt=""></div>-->
								<div class="date">FEMA</div>
								<h4><a href="https://www.fema.gov/about/news-multimedia/press-releases">Fema Press Releases.</a></h4>
								<a href="blog-details.html" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div> <!-- /.single-update-post -->
						</div> <!-- /.col- -->
						<div class="item">
							<div class="single-update-post">
								<!--<div class="image-box"><img src="images/blog/17.jpg" alt=""></div>-->
								<div class="date">FCC</div>
								<h4><a href="https://www.fcc.gov/documents/news-release">Fcc News Release</a></h4>
								<a href="blog-details.html" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div> <!-- /.single-update-post -->
						</div> <!-- /.col- -->
						<div class="item">
							<div class="single-update-post">
								<!--<div class="image-box"><img src="images/blog/18.jpg" alt=""></div>-->
								<div class="date">DARPA</div>
								<h4><a href="https://www.darpa.mil/news">Darpa News</a></h4>
								<a href="#" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div> <!-- /.single-update-post -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.latest-update -->


			
			
{% endblock %}  